  <div class="infoDrawer_tab_wrapper">
    <div class="infoDrawer_tab_item">
      <span>Description</span>
      <span>Description</span>
      <span>Description</span>
      <span>Description</span>
    </div>
  </div>

<style>
  .infoDrawer_tab_item {
    border-radius: 16px;
    border: 1px solid #000;
    background: #000;
    padding: 8px 16px;
  }
  .infoDrawer_tab_item span {
    display: inline-block;
    color: #E2C888;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    text-transform: capitalize;
  }
</style>




{% schema %}
{
  "name": "Drawer Design",
  "settings": [
  ],
  "presets": [
    {
      "name": "Drawer Design"
    }
  ]
}
{% endschema %}
