<div class="infoDrawer_inner">
  <div class="infoDrawer_tab_wrapper">
    <div class="infoDrawer_tab_item">
      <span>Description</span>
    </div>
    <div class="infoDrawer_tab_item">
      <span>Shipping</span>
    </div>
    <div class="infoDrawer_tab_item">
      <span>in the box</span>
    </div>
    <div class="infoDrawer_tab_item">
      <span>Fit guide</span>
    </div>
    <div class="infoDrawer_tab_item">
      <span>Material</span>
    </div>
  </div>
  <div class="infoDrawer_description">
    <p>
      The Zero-G Plus Clear visor is built for athletes who play hard and demand the best on the field. Originally
      designed for the Riddell Speedflex, it’s confirmed to fit all current football helmets, including the Riddell
      Axiom (top-bar facemask) and the Schutt F7 Pro and F7 Air. Trusted by tens of thousands of players for clarity,
      protection, and performance.
    </p>
  </div>
  <div class="infoDrawer_choose_wrapper">
    <div class="infoDrawer_choose_heading">
      <h2>Why athletes choose it</h2>
    </div>
    <div class="infoDrawer_choose-item-wrap">
      <div class="infoDrawer_choose-item">
        <div class="infoDrawer_choose-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M16.25 2.5H3.75C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75V16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5H16.25C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25V3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5ZM13.5672 8.56719L9.19219 12.9422C9.13414 13.0003 9.06521 13.0464 8.98934 13.0779C8.91346 13.1093 8.83213 13.1255 8.75 13.1255C8.66787 13.1255 8.58654 13.1093 8.51066 13.0779C8.43479 13.0464 8.36586 13.0003 8.30781 12.9422L6.43281 11.0672C6.31554 10.9499 6.24965 10.7909 6.24965 10.625C6.24965 10.4591 6.31554 10.3001 6.43281 10.1828C6.55009 10.0655 6.70915 9.99965 6.875 9.99965C7.04085 9.99965 7.19991 10.0655 7.31719 10.1828L8.75 11.6164L12.6828 7.68281C12.7409 7.62474 12.8098 7.57868 12.8857 7.54725C12.9616 7.51583 13.0429 7.49965 13.125 7.49965C13.2071 7.49965 13.2884 7.51583 13.3643 7.54725C13.4402 7.57868 13.5091 7.62474 13.5672 7.68281C13.6253 7.74088 13.6713 7.80982 13.7027 7.88569C13.7342 7.96156 13.7503 8.04288 13.7503 8.125C13.7503 8.20712 13.7342 8.28844 13.7027 8.36431C13.6713 8.44018 13.6253 8.50912 13.5672 8.56719Z" fill="black"/>
          </svg>
        </div>
        <div class="infoDrawer_choose_item-content">
          <div class="infoDrawer_choose-content-title">
            <h3>Ultra-light polycarbonate</h3>
          </div>
          <div class="infoDrawer_choose-content-description">
            <p>Industry-leading breakage strength, crack-resistant under the toughest hits.</p>
          </div>
        </div>
      </div>
      <div class="infoDrawer_choose-item">
        <div class="infoDrawer_choose-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M16.25 2.5H3.75C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75V16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5H16.25C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25V3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5ZM13.5672 8.56719L9.19219 12.9422C9.13414 13.0003 9.06521 13.0464 8.98934 13.0779C8.91346 13.1093 8.83213 13.1255 8.75 13.1255C8.66787 13.1255 8.58654 13.1093 8.51066 13.0779C8.43479 13.0464 8.36586 13.0003 8.30781 12.9422L6.43281 11.0672C6.31554 10.9499 6.24965 10.7909 6.24965 10.625C6.24965 10.4591 6.31554 10.3001 6.43281 10.1828C6.55009 10.0655 6.70915 9.99965 6.875 9.99965C7.04085 9.99965 7.19991 10.0655 7.31719 10.1828L8.75 11.6164L12.6828 7.68281C12.7409 7.62474 12.8098 7.57868 12.8857 7.54725C12.9616 7.51583 13.0429 7.49965 13.125 7.49965C13.2071 7.49965 13.2884 7.51583 13.3643 7.54725C13.4402 7.57868 13.5091 7.62474 13.5672 7.68281C13.6253 7.74088 13.6713 7.80982 13.7027 7.88569C13.7342 7.96156 13.7503 8.04288 13.7503 8.125C13.7503 8.20712 13.7342 8.28844 13.7027 8.36431C13.6713 8.44018 13.6253 8.50912 13.5672 8.56719Z" fill="black"/>
          </svg>
        </div>
        <div class="infoDrawer_choose_item-content">
          <div class="infoDrawer_choose-content-title">
            <h3>Ultra-light polycarbonate</h3>
          </div>
          <div class="infoDrawer_choose-content-description">
            <p>Industry-leading breakage strength, crack-resistant under the toughest hits.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
        .infoDrawer_tab_wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom:24px;
        }

          .infoDrawer_tab_item span {
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        background: rgba(0, 0, 0, 0.05);
        padding: 8px 16px;
        display: inline-block;
        color: #272727;
        font-size: 10px;
        font-weight: 400;
        line-height: 11px;
        text-transform: capitalize;
        letter-spacing:0;
  margin:0;
      }

      .infoDrawer_tab_item.active span {
        border-radius: 16px;
        border: 1px solid #000;
        background: #000;
        color: #E2C888;
      }

      .infoDrawer_description p{
      color: #3D3D3D;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-transform: capitalize;
  letter-spacing:0;
  margin:0;
      }
      .infoDrawer_description p strong{
  font-weight: 600;
      }

      .infoDrawer_choose_wrapper{
        display: flex;
flex-direction: column;
gap: 12px;
    padding-top: 24px;
    }

    .infoDrawer_choose_heading h2{
    color: #E2C888;
font-size: 16px;
font-weight: 600;
line-height: 24px; 
letter-spacing: -0.32px;
margin:0;
    }

    .infoDrawer_choose-item-wrap{
    display: flex;
flex-direction: column;
gap: 12px;
    }

    .infoDrawer_choose-item{
    display: flex;
align-items: flex-start;
gap: 12px;
    }
    .infoDrawer_choose-item-icon svg{
    width: 20px;
height: 20px;
    display: flex;

    }
    .infoDrawer_choose_item-content{
    display: flex;
flex-direction: column;
gap: 8px;
    }
    .infoDrawer_choose-content-title h3{
    color: #121212;
font-size: 14px;
font-weight: 500;
line-height: 15.4px; 
  letter-spacing:0;
  margin:0;
    }
    .infoDrawer_choose-content-description p{
    color: #777;
font-size: 14px;
font-weight: 400;
line-height: 15.4px; 
  letter-spacing:0;
  margin:0;
    }
</style>

{% schema %}
{
  "name": "Drawer Design",
  "settings": [],
  "presets": [
    {
      "name": "Drawer Design"
    }
  ]
}
{% endschema %}
