<div class="infoDrawer_inner">
  <div class="infoDrawer_tab_wrapper">
    <div class="infoDrawer_tab_item">
      <span>Description</span>
    </div>
    <div class="infoDrawer_tab_item">
      <span>Shipping</span>
    </div>
    <div class="infoDrawer_tab_item">
      <span>in the box</span>
    </div>
    <div class="infoDrawer_tab_item">
      <span>Fit guide</span>
    </div>
    <div class="infoDrawer_tab_item">
      <span>Material</span>
    </div>
  </div>
  <div class="infoDrawer_description">
    <p>
      The Zero-G Plus Clear visor is built for athletes who play hard and demand the best on the field. Originally
      designed for the Riddell Speedflex, it’s confirmed to fit all current football helmets, including the Riddell
      Axiom (top-bar facemask) and the Schutt F7 Pro and F7 Air. Trusted by tens of thousands of players for clarity,
      protection, and performance.
    </p>
  </div>
  <div class="infoDrawer_choose_wrapper">
    <div class="infoDrawer_choose_heading">
      <h2>Why athletes choose it</h2>
    </div>
    <div class="infoDrawer_choose-item-wrap">
      <div class="infoDrawer_choose-item">
        <div class="infoDrawer_choose-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M16.25 2.5H3.75C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75V16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5H16.25C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25V3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5ZM13.5672 8.56719L9.19219 12.9422C9.13414 13.0003 9.06521 13.0464 8.98934 13.0779C8.91346 13.1093 8.83213 13.1255 8.75 13.1255C8.66787 13.1255 8.58654 13.1093 8.51066 13.0779C8.43479 13.0464 8.36586 13.0003 8.30781 12.9422L6.43281 11.0672C6.31554 10.9499 6.24965 10.7909 6.24965 10.625C6.24965 10.4591 6.31554 10.3001 6.43281 10.1828C6.55009 10.0655 6.70915 9.99965 6.875 9.99965C7.04085 9.99965 7.19991 10.0655 7.31719 10.1828L8.75 11.6164L12.6828 7.68281C12.7409 7.62474 12.8098 7.57868 12.8857 7.54725C12.9616 7.51583 13.0429 7.49965 13.125 7.49965C13.2071 7.49965 13.2884 7.51583 13.3643 7.54725C13.4402 7.57868 13.5091 7.62474 13.5672 7.68281C13.6253 7.74088 13.6713 7.80982 13.7027 7.88569C13.7342 7.96156 13.7503 8.04288 13.7503 8.125C13.7503 8.20712 13.7342 8.28844 13.7027 8.36431C13.6713 8.44018 13.6253 8.50912 13.5672 8.56719Z" fill="black"/>
          </svg>
        </div>
        <div class="infoDrawer_choose_item-content">
          <div class="infoDrawer_choose-content-title">
            <h3>Ultra-light polycarbonate</h3>
          </div>
          <div class="infoDrawer_choose-content-description">
            <p>Industry-leading breakage strength, crack-resistant under the toughest hits.</p>
          </div>
        </div>
      </div>
      <div class="infoDrawer_choose-item">
        <div class="infoDrawer_choose-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M16.25 2.5H3.75C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75V16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5H16.25C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25V3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5ZM13.5672 8.56719L9.19219 12.9422C9.13414 13.0003 9.06521 13.0464 8.98934 13.0779C8.91346 13.1093 8.83213 13.1255 8.75 13.1255C8.66787 13.1255 8.58654 13.1093 8.51066 13.0779C8.43479 13.0464 8.36586 13.0003 8.30781 12.9422L6.43281 11.0672C6.31554 10.9499 6.24965 10.7909 6.24965 10.625C6.24965 10.4591 6.31554 10.3001 6.43281 10.1828C6.55009 10.0655 6.70915 9.99965 6.875 9.99965C7.04085 9.99965 7.19991 10.0655 7.31719 10.1828L8.75 11.6164L12.6828 7.68281C12.7409 7.62474 12.8098 7.57868 12.8857 7.54725C12.9616 7.51583 13.0429 7.49965 13.125 7.49965C13.2071 7.49965 13.2884 7.51583 13.3643 7.54725C13.4402 7.57868 13.5091 7.62474 13.5672 7.68281C13.6253 7.74088 13.6713 7.80982 13.7027 7.88569C13.7342 7.96156 13.7503 8.04288 13.7503 8.125C13.7503 8.20712 13.7342 8.28844 13.7027 8.36431C13.6713 8.44018 13.6253 8.50912 13.5672 8.56719Z" fill="black"/>
          </svg>
        </div>
        <div class="infoDrawer_choose_item-content">
          <div class="infoDrawer_choose-content-title">
            <h3>Ultra-light polycarbonate</h3>
          </div>
          <div class="infoDrawer_choose-content-description">
            <p>Industry-leading breakage strength, crack-resistant under the toughest hits.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="infoDrawer_highlight-wrap">
    <div class="infoDrawer_highlight-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18" fill="none">
  <path d="M21 2.25H18.75V0.75C18.75 0.551088 18.671 0.360322 18.5303 0.21967C18.3897 0.0790178 18.1989 0 18 0H4.5C4.30109 0 4.11032 0.0790178 3.96967 0.21967C3.82902 0.360322 3.75 0.551088 3.75 0.75V2.25H1.5C1.10218 2.25 0.720644 2.40804 0.43934 2.68934C0.158035 2.97064 0 3.35218 0 3.75V5.25C0 6.24456 0.395088 7.19839 1.09835 7.90165C1.44657 8.24987 1.85997 8.52609 2.31494 8.71455C2.76991 8.903 3.25754 9 3.75 9H4.09219C4.53398 10.4001 5.37634 11.64 6.51516 12.5666C7.65398 13.4931 9.03933 14.0657 10.5 14.2134V16.5H8.25C8.05109 16.5 7.86032 16.579 7.71967 16.7197C7.57902 16.8603 7.5 17.0511 7.5 17.25C7.5 17.4489 7.57902 17.6397 7.71967 17.7803C7.86032 17.921 8.05109 18 8.25 18H14.25C14.4489 18 14.6397 17.921 14.7803 17.7803C14.921 17.6397 15 17.4489 15 17.25C15 17.0511 14.921 16.8603 14.7803 16.7197C14.6397 16.579 14.4489 16.5 14.25 16.5H12V14.2106C14.9944 13.9078 17.4788 11.8069 18.3825 9H18.75C19.7446 9 20.6984 8.60491 21.4016 7.90165C22.1049 7.19839 22.5 6.24456 22.5 5.25V3.75C22.5 3.35218 22.342 2.97064 22.0607 2.68934C21.7794 2.40804 21.3978 2.25 21 2.25ZM3.75 7.5C3.15326 7.5 2.58097 7.26295 2.15901 6.84099C1.73705 6.41903 1.5 5.84674 1.5 5.25V3.75H3.75V6.75C3.75 7 3.76219 7.25 3.78656 7.5H3.75ZM17.25 6.66562C17.25 9.99562 14.5312 12.7256 11.25 12.75C9.6587 12.75 8.13258 12.1179 7.00736 10.9926C5.88214 9.86742 5.25 8.3413 5.25 6.75V1.5H17.25V6.66562ZM21 5.25C21 5.84674 20.7629 6.41903 20.341 6.84099C19.919 7.26295 19.3467 7.5 18.75 7.5H18.7031C18.7339 7.22293 18.7495 6.9444 18.75 6.66562V3.75H21V5.25Z" fill="#E2C888"/>
</svg>
    </div>
    <div class="infoDrawer_highlight-content">
      <div class="infoDrawer_highlight-content-title">
        <h3>League-compliant</h3>
      </div>
      <div class="infoDrawer_highlight-content-description">
        <p>The Clear Zero-G Plus meets 100% of association rules — safe and legal at every level of play.</p>
      </div>
    </div>
  </div>
</div>

<style>
          .infoDrawer_tab_wrapper{
      display: flex;
      align-items: center;
      gap: 8px;
      padding-bottom:24px;
          }

            .infoDrawer_tab_item span {
          border-radius: 16px;
          border: 1px solid rgba(0, 0, 0, 0.10);
          background: rgba(0, 0, 0, 0.05);
          padding: 8px 16px;
          display: inline-block;
          color: #272727;
          font-size: 10px;
          font-weight: 400;
          line-height: 11px;
          text-transform: capitalize;
          letter-spacing:0;
    margin:0;
        }

        .infoDrawer_tab_item.active span {
          border-radius: 16px;
          border: 1px solid #000;
          background: #000;
          color: #E2C888;
        }

        .infoDrawer_description p{
        color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-transform: capitalize;
    letter-spacing:0;
    margin:0;
        }
        .infoDrawer_description p strong{
    font-weight: 600;
        }

        .infoDrawer_choose_wrapper{
          display: flex;
  flex-direction: column;
  gap: 12px;
      padding: 24px 0;
      }

      .infoDrawer_choose_heading h2{
      color: #E2C888;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin:0;
      }

      .infoDrawer_choose-item-wrap{
      display: flex;
  flex-direction: column;
  gap: 12px;
      }

      .infoDrawer_choose-item{
      display: flex;
  align-items: flex-start;
  gap: 12px;
      }
      .infoDrawer_choose-item-icon svg{
      width: 20px;
  height: 20px;
      display: flex;

      }
      .infoDrawer_choose_item-content{
      display: flex;
  flex-direction: column;
  gap: 8px;
      }
      .infoDrawer_choose-content-title h3{
      color: #121212;
  font-size: 14px;
  font-weight: 500;
  line-height: 15.4px;
    letter-spacing:0;
    margin:0;
      }
      .infoDrawer_choose-content-description p{
      color: #777;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
    letter-spacing:0;
    margin:0;
      }

      .infoDrawer_highlight-wrap{
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 16px;
            border: 1px solid #E2C888;
            border-radius: 12px;
    }
      .infoDrawer_highlight-icon{
    width: 50px;
    height: 50px;
padding: 16px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 36px;
border: 1px solid #E2C888;
    }
 
      .infoDrawer_highlight-content{}
      .infoDrawer_highlight-content-title h3{}
      .infoDrawer_highlight-content-description p{}
      .
</style>

{% schema %}
{
  "name": "Drawer Design",
  "settings": [],
  "presets": [
    {
      "name": "Drawer Design"
    }
  ]
}
{% endschema %}
